<template>
<div>
    <table v-if="users.length" class="table table-hover">
        <thead>
        <tr>
            <th tabindex="0" style="" data-field="name">
                <div class="th-inner both">Nombre</div>
                <div class="fht-cell"></div>
            </th>
            <th tabindex="0" style="" data-field="last_name">
                <div class="th-inner both">Apellido</div>
                <div class="fht-cell"></div>
            </th>
            <th tabindex="0" style="" data-field="email">
                <div class="th-inner both">Email</div>
                <div class="fht-cell"></div>
            </th>
            <th tabindex="0" style="" data-field="actions">
                <div class="th-inner both">Acciones</div>
                <div class="fht-cell"></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="row in users">
            <td>{{ row.first_name }}</td>
            <td>{{ row.last_name }}</td>
            <td>{{ row.email }}</td>
            <td><a class="btn btn-danger" @click="deleteUser(row)">eliminar</a></td>
        </tr>
        </tbody>
    </table>
    <div v-else>
        <p>NO HAY REGISTROS QUE MOSTRAR</p>
    </div>
</div>
</template>

<script>
    import Modal from "./ModalComponent";
    export default {
        components: {
            Modal
        },
        mounted() {
           this.getUsers();
        },
        data() {
            return {
                users: [],
                showModal: false,
                user: {}
            }
        },
        methods: {
            deleteUser(user){
                console.log(user);
                axios.delete('/users/' + user.id).then((response) => {
                    this.getUsers();
                }).catch(function (error) {

                })
            },
            getUsers() {
                axios.get('/get-users').then((response) => {
                    this.users = response.data;
                });
            }
        }
    }
</script>
