<template>
    <div>
        <div>
            <input type="number" min="1" max="15" class="form-control lg" v-model="search" @keyup.enter="searchUser" placeholder="Buscar y presionar enter"/>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th tabindex="0" style="" data-field="first_name">
                    <div class="th-inner both">Nombre</div>
                    <div class="fht-cell"></div>
                </th>
                <th tabindex="0" style="" data-field="last_name">
                    <div class="th-inner both">Apellido</div>
                    <div class="fht-cell"></div>
                </th>
                <th tabindex="0" style="" data-field="email">
                    <div class="th-inner both">Correo</div>
                    <div class="fht-cell"></div>
                </th>
                <th tabindex="0" style="" data-field="action">
                    <div class="th-inner both">Accion</div>
                    <div class="fht-cell"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in users">
                <td>{{ row.first_name }}</td>
                <td>{{ row.last_name}}</td>
                <td>{{ row.email }}</td>
                <td><a class="btn btn-info" @click="viewUser(row)">Ver</a></td>
            </tr>
            </tbody>
        </table>
        <modal ref="MyModal" v-if="showModal" @close="showModal = false">

            <div slot="body" >
                <div class="row" v-if="messageModal === ''" >
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" :src=" this.user.avatar " class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information"><!---->
                                <tbody>
                                <tr>
                                    <td>Nombre</td>
                                    <td>{{ this.user.first_name }}</td>
                                </tr>
                                <tr>
                                    <td>Apellido</td>
                                    <td>{{ this.user.last_name}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a :href="this.user.email">{{ this.user.email }}</a></td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
                <div v-else>
                    <p>{{ messageModal }}</p>
                </div>
            </div>
            <div slot="footer">
                <button class="btn btn-danger" @click="closeModal">Cerrar</button>
                <button type="button" v-if="messageModal === ''" class="btn btn-primary" @click="registerUser">Registrar</button>
            </div>
        </modal>

    </div>

</template>

<script>
    import Modal from "./ModalComponent";
    export default {
        components: {
            Modal
        },
        mounted() {
            this.getUsers()
        },
        data() {
            return {
                users: [],
                showModal: false,
                user: null,
                search: '',
                messageModal:''
            }
        },
        methods: {
            viewUser(user)
            {
                this.user = user;
                //this.setFormUser();
                this.showModal = true;
            },
            registerUser()
            {
                axios.post('/users', {user: this.user}).then((response) => {
                    if(response.data.status){
                        this.showModal = false;
                        this.getUsers();
                        this.user = null;
                        this.search = '';
                    }else{
                        this.showModal = true;
                        this.messageModal = 'Ocurrió un error';
                    }
                }).catch(function (error) {
                    this.showModal = true;
                    this.messageModal = 'Ocurrió un error';
                })
            },
            getUsers()
            {
                axios.get('/get-users-api').then((response) => {
                    this.users = response.data;
                });
            },
            searchUser()
            {
                axios.get('/get-users-api',  { params: { search: this.search }}).then((response) => {
                    this.users = response.data;
                    if(this.search !== ''){
                        if(this.users.length !== 0){
                            this.user = this.users[0];
                        }else{
                            this.messageModal = 'Usuario no encontrado';
                        }
                        this.showModal = true;
                    }
                });
            },
            closeModal()
            {
                this.showModal = false;
                this.messageModal = '';
            }
        }
    }
</script>
